/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #48AD26;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #48AD26;
  background-image: #48AD26;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #48AD26;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
/*  combine tab */
div.combine-tab-container{
	z-index: 10;
	background-color: #ffffff;
	padding: 0 !important;
	border-radius: 4px;
	-moz-border-radius: 4px;
	border:1px solid #ddd;
	background-clip: padding-box;
	opacity: 0.97;
	filter: alpha(opacity=97);
	margin-bottom:5px;
}
div.combine-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.combine-tab-menu div.list-group{
  margin-bottom: 0;
}
div.combine-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.combine-tab-menu div.list-group>a .glyphicon,
div.combine-tab-menu div.list-group>a .fa {
  color: #48AD26;
}
div.combine-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.combine-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.combine-tab-menu div.list-group>a.active,
div.combine-tab-menu div.list-group>a.active .glyphicon,
div.combine-tab-menu div.list-group>a.active .fa{
  background-color: #48AD26;
  background-image: #48AD26;
  color: #ffffff;
}
div.combine-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #48AD26;
}

div.combine-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.combine-tab div.combine-tab-content:not(.active){
  display: none;
}
.head-left{
	width:90%;
	float:left;
	font-family:Magneto;
	font-size:22px;
}
.save-area{
	margin-top:10px;
	margin-right:20px;
}

.style{
	border: 1px solid #bdc3c7;
    border-radius: 4px;
    margin-left: -5px;
    margin-right: 4px;
}

.head-pro{overflow-x:hidden;height:530px;}
.head-pro .pro-list li{float:left;padding: 0 10px 20px 0;list-style:none;}
.head-pro .pro-list .left-block img{height:200px;}
.head-pro img{width:214px;}
.head-pro .pro-list .right-block{background:#ccc;padding:10px;text-align:center;}
.content-pro{overflow-x:hidden;height:530px;}
.content-pro .pro-list li{float:left;padding: 0 10px 20px 0;list-style:none;}
.content-pro .pro-list .left-block img{height:200px;}
.content-pro img{width:214px;}
.content-pro .pro-list .right-block{background:#ccc;padding:10px;text-align:center;}
