/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/*
Change Quick Sidebar Width
*/

/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/
.page-bar {
  margin-bottom: 0;
}

/*sort table*/

th.header { 
    background-image: url(../img/sort_both.png); 
    cursor: pointer;  
    background-repeat: no-repeat; 
    background-position: center right; 
} 

th.headerSortUp { 
    background-image: url(../img/sort_asc.png); 
   /* background-color: #3399FF; */
}

th.headerSortDown { 
    background-image: url(../img/sort_desc.png); 
}
div.dataTables_info {
padding-top: 8px;
}
div.dataTables_paginate {
float: right;
margin: 0;
}
.required label:after { 
    content:" *";
    color: red;
    font-weight: bold;
}

.ul-category {
  list-style: none;
  padding: 0;
}
.ul-category li {
   padding-left: 15px;
}

.dd3-content.red {
  background-color: red;
}
/*
.ui-helper-hidden-accessible { display:none; }
.ui-menu-item{
   color: blue;
   font-weight: bold;
}*/
.fileinput-new:hover{
  cursor: pointer;
}
.border_attr {
    background: #EAEAEA;
    border: 1px solid #CCCCCC;
    margin-bottom: 5px;
}