/* Style Selector */
#config {
	background: #fff;
	width: 193px;
	position: fixed;
	right: 0;
	top: 50px;
	z-index: 9999;
}

#config_container {
	-webkit-box-shadow: 0 2px 9px 2px rgba(0,0,0,0.14);
	-moz-box-shadow: 0 2px 9px 2px rgba(0,0,0,0.14);
	box-shadow: 0 2px 9px 2px rgba(0,0,0,0.14);
	border: 1px solid rgba(23,24,26,0.15);
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.style-main-title {
	color: #000;
	font-size: 15px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	border-bottom: 1px solid rgba(23,24,26,0.15);
	background: #f0f0f0; );
}

.input { position:relative; }
.hidden-message { text-align:left; line-height:1.1; width:126px; margin-top:7px; color:#f70; display:none; }

.box-title {
	font-size: 12px;
	height: 21px;
	line-height: 41px;
	color: #000;
	text-align: center;
}

.box-title-text {
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	padding:15px;
}

.input-box {
	padding: 15px;
	padding-left: 40px;
	border-bottom-color: #f4f4f4;
	border-bottom: 1px solid rgba(23,24,26,0.15);
}

.input-box select:focus {
	outline: none;
}

.input-box-2 {
	padding: 10px;
	padding-left: 25px;
	border-bottom-color: #f4f4f4;
	border-bottom: 1px solid rgba(23,24,26,0.15);
}

.input-box input, .input-box p { margin-bottom: 0px; font-size:12px;}
.input-box input[type=checkbox]{ margin-right: 5px; }

.input-box select {
	background: #f7f7f7;
	width: 120px;
	border: 1px solid rgba(23,24,26,0.15);
	font-size: 11px;
	color: #000;
	height: 20px;
}

#config .colors {
	width: 165px;
	padding-left: 25px;
	margin-top: 15px;
	border-bottom: 1px solid rgba(23,24,26,0.15);
	padding-bottom: 10px;
	position: relative;
	z-index: 1000000;
}

#config .style-toggle {
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #FFF;
	border: 1px solid rgba(23,24,26,0.15);
	border-right: none;
	display: block;
	background-position: top left;
	position: absolute;
	top: 45px;
	left: -34px;
	opacity: 1;
}

#config .style-toggle .fa {
	display: block;
	padding: 10px;
}

.config.open #config_container {
	display: none;
}

#config.config.open  .style-toggle {
	left: auto;
	right: 0;
}

.changecolor { width:20px; height:20px; display: inline-block; text-indent: -9999px; }

.changecolor.green{ background-color: #a3d133; }
.changecolor.pink{ background-color: #ce1d76; }
.changecolor.black{ background-color: #000000; }
.changecolor.gold{ background-color: #dab26d; }
.changecolor.blue{ background-color: #0787ea }
.changecolor.red{ background-color: #ea1b25 }
.changecolor.orange{ background-color: #f89a20 }
.changecolor.flat-blue{ background-color: #00abc5 }
.changecolor.yellow{ background-color: #fed700 }
.cursor{
	cursor:pointer;
}
#msg_review{
	color:red;
	text-align:right;
}
.head_package{
	width:33%;
	float:left;
}
.head_package .product-info{
	border:1px solid #d7d7d7;
	padding:10px;
	font-size: 1.071em;
    line-height: 1.286em;
    font-weight: bold;
    color: #0062bd;
	text-align:center;
}
.sub_package{
	width:100%;
	border:1px solid #d7d7d7;
	padding:10px;
}
.f3{
	font-size:15px;
}
.f5{
	font-size:22px;
}
.f6{
	font-size:26px;
}
select{
	cursor:pointer;
}
.ship_left{
	width:10px;
	float:left;
}
.ship_right{
	width:150px;
	float:left;
}
.profile{
	width:100%;
	border-right:1px solid #cccccc;
	border-left:1px solid #cccccc;
	padding:0 5px;
}
.profile .l_profile{
	width:40px;
	float:left;
}
.profile .r_profile{
	/* Firefox */
	width: -moz-calc(100% - 40px);
	/* WebKit */
	width: -webkit-calc(100% - 40px);
	/* Opera */
	width: -o-calc(100% - 40px);
	/* Standard */
	width: calc(100% - 40px);
	float:left;
}
.img-size{
	width: 350px;
    height: 350px;
}
.feature{
	height: 100% !important;
	width: auto !important;
	margin: auto !important;
}
.divider{
	border-bottom:1px solid #cccccc;
}
.dropdown-menu li{
	margin-bottom:3px;
}
/*-----------track order----------*/
.page-header h1 {
  font-size: 3.26em;
  text-align: center;
  /*color: #efefef;
  text-shadow: 1px 1px 0 #000;*/
}

/** timeline box structure **/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eee;
  left: 50%;
  margin-left: -1.5px;
}

.tldate {
  display: block;
  width: 200px;
  background: #414141;
  border: 3px solid #212121;
  color: #ededed;
  margin: 0 auto;
  padding: 3px 0;
  font-weight: bold;
  text-align: center;
  -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.35);
}

.timeline li {
  margin-bottom: 25px;
  position: relative;
}

.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}
.timeline li:after {
  clear: both;
}
.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}

/** timeline panels **/
.timeline li .timeline-panel {
  width: 46%;
  float: left;
  background: #fff;
  border: 1px solid #d4d4d4;
  padding: 20px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

/** panel arrows **/
.timeline li .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline li .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
  top:0;
  right:0;
  display: none;
  border: 0;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}


/** timeline circle icons **/
.timeline li .tl-circ {
  position: absolute;
  top: 23px;
  left: 50%;
  text-align: center;
  background: yellow;
  color: red;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin-left: -16px;
  border: 3px solid #e6e600;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: 99999;
}


/** timeline content **/

.tl-heading h4 {
  margin: 0;
  color: #c25b4e;
}

.tl-body p, .tl-body ul {
  margin-bottom: 0;
}

.tl-body > p + p {
  margin-top: 5px;
}

/** media queries **/
@media (max-width: 991px) {
  .timeline li .timeline-panel {
    width: 44%;
  }
}

@media (max-width: 700px) {
  .page-header h1 { font-size: 1.8em; }
  
  ul.timeline:before {
    left: 40px;
  }
  
  .tldate { width: 140px; }

  ul.timeline li .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline li .tl-circ {
    top: 22px;
    left: 22px;
    margin-left: 0;

  }
  ul.timeline > li > .tldate {
    margin: 0;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}
.register_type {
  background: #eeeeee none repeat scroll 0 0;
  border: 1px solid #b8242a;
  border-radius: 3px;
  padding-left: 10px;
  width: 300px;
  list-style: none;
}